<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	<strong>'doThings'</strong>was written by Robert Craig who can be contacted at <a href="mailto:lockhart.r@gmail.com?subject=doThings:">lockhart.r@gmail.com</a>
</p>
