<% provide(:title, 'About') %>
<h1>About</h1>
<p><strong>'doThings'</strong> is a simple ToDo list manager written as a sandbox to trial and demonstrate the use of the latest Rails 3 framework.</p>
<p>It is written in Rails 3.2.2 and deployed on Heroku</p>
<p>Tools & Libraries used:</p>
<ul>
	<li>Rails 3.2.2</li>
	<li>Ruby 1.9.3-p125</li>
	<li>Cucumber/Rspec/Capybara</li>
	<li>Sass</li>
	<li>HTML5/Javascript/jQuery</li>
</ul>
<p>The following User stories are in place with more to be designed & implemented on an on-going basis:</p>
<ul>
	<li>As a user, I want to create a task so that I will not forget something to do.</li>
	<li>As a user, I want to create a task with a deadline so that I will not miss deadline.</li>
	<li>As a user, I want to edit a task so that I can change a task after I created</li>
	<li>As a user, I want to mark a task as done so that I can distinguish incomplete tasks from complete ones.</li>
	<li>As a user, I want to see all tasks which didn't meet deadline as of today.</li>
	<li>As a user, I want to delete a task so that I can remove task which is not a task any more.</li>
</ul>
<p>Primary functionality currently lives on the Home page</p>
<p>
	<strong>'doThings'</strong>was written by Robert Craig who can be contacted at <a href="mailto:lockhart.r@gmail.com?subject=doThings:">lockhart.r@gmail.com</a>
</p>
