<% provide(:title, 'Home') %>
<% if signed_in? %>
  <%= render 'shared/user_info' %>
  <table class="front">
    <tr>
      <td class="main">
        <h1 class="todo">Thing to do:</h1>
        <%= render 'shared/todo_form' %>
        <%= render 'shared/feed' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Quipper Todo</h1>

  <p>
    This is the home page for the Quipper ToDo sample App
  </p>

  <%= link_to "Sign up now!", signup_path, class: "signup_button round" %>
<% end %>