.container {
  width: 710px;
}

body {
  background: #29264d;
}

header {
  padding-top: 20px;

  img {
    padding: 1em;
    background: white;
  }
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #ddd;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #29264d;
  text-decoration: none;

  &:hover {
    color: #069;
    text-decoration: underline;
  }

  &:visited {
    color: #069;
  }
}

/* Navigation */

nav {
  float: right;
  background-color: black;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Manage button */

a.manage_button {
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  margin-bottom:10px;
  display: block;
  text-align: center;
  width: 250px;
  color: white;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 5px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;

  img.gravatar {
    border: 1px solid #999;
    margin-bottom: -15px;
  }
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

div.field, div.actions {
  margin-bottom: 10px;

  span.todo_label {
    float:left;
    font-size:1em;
    width:100px;
  }
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;

  label {
    color: #fff;
  }
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }

  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

ul.users {
  margin-top: 1em;
  li {
    list-style: none;
  }
}

h1.todo {
  margin-bottom: 0.3em;
}

table.todos {
  margin-top: 1em;

  tr {
    height: 70px;

    &:nth-child(2n) td, tbody tr.even td {
      background: white
    }

    td.gravatar {
      border-top: 1px solid #ccc;
      vertical-align: top;
      width: 50px;
    }

    td.todo {
      border-top: 1px solid #ccc;
      vertical-align: top;
      padding-top: 10px;

      span.title {
        font-weight:bold;
        width:100%;
        display: block;
        font-size: 100%;
      }

      span.overdue {
        padding-left:10px;
        background:#F57DAD;
      }

      span.due {
        font-style:italic;
        width:100%;
        display: block;
        font-size: 100%;
      }

      span.content {
        width:100%;
        display: block;
        font-size: 95%;
        background:#C3F5BA;
        margin-top:5px;
        margin-bottom:5px;
        padding-left:10px;
      }

      span.timestamp {
        display: block;
        font-size: 85%;
        color: #666;
      }
    }
  }
}

div.user_info {
  img {
    padding-right: 0.1em;
  }
  a {
    text-decoration: none;
  }
  span.user_name {
    position: absolute;
  }
  span.todos {
    font-size: 80%;

  }
}

form.new_todo {
  margin-bottom: 2em;

  textarea {
    height: 4em;
    margin-bottom: 0;
  }
}

#new_thing {
  display:none;
}

.edit_thing {
  display:none;
  width:100%;
  background:#ddd;
  margin-top:70px;
  padding:10px;
}

.editThing {
  float:left;
  margin-top:30px;
  margin-bottom:10px;
  display: block;
  text-align: center;
  width: 150px;
  color: white;
  background: #006400;
  font-size: 100%;
  font-weight: bold;
  padding: 2px;
}

#addNewThing {
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  margin-bottom:10px;
  display: block;
  text-align: center;
  width: 250px;
  color: white;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 2px;
}

.delete_todo {
  float:right;
  margin-top:30px;
  margin-bottom:10px;
  display: block;
  text-align: center;
  width: 150px;
  color: white;
  background: #bf0000;
  font-size: 100%;
  font-weight: bold;
  padding: 3px;
}

#site-header {
  font-size:3em;
  color:#eee;
}

#homeIntro {
  width:300px;
  margin-left:auto;
  margin-right:auto;
}